{
  "index" : {
    "treeIndex": "tree",
    "globalIndex": "global",
    "entitiesIndex": "entities",
    "ocIndex": "cultural_objects"
  },
  "elasticNodeAddress" : "http://es-staging.netseven.it/",
  "elasticAuth": {
    "username": "esmuruca",
	  "password": "murucaes"
  },
  "fuzziness": 1
}