{
  "index" : {
    "treeIndex": "tree",
    "globalIndex": "global",
    "entitiesIndex": "entities",
    "ocIndex": "cultural_objects"
  },
  "elasticNodeAddress" : "http://es-staging.netseven.it/",
  "elasticAuth": {
    "username": "esmuruca",
	  "password": "murucaes"
  },
  "fuzziness": 1,
  "treeSize": 30000 //ATTENZIONE: treeSize >= numero documenti sull'indice tree && size <= max_results_window nei settings dell'indice,
  "collectionAddress": "",
  "port": 4000